.carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.horizontal .carousel-wrapper {
  flex-direction: row;
}

.carousel-wrapper > * {
  width: 100%;
  flex-shrink: 0;
}