.text-switcher {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.text-switcher-base {
  visibility: hidden;
}

.text-switcher.on-state.up .text-switcher-children-wrapper {
  top: -100%;
}

.text-switcher.on-state.down .text-switcher-children-wrapper {
  top: 0;
}

.text-switcher.on-state.left .text-switcher-children-wrapper {
  left: -100%;
}

.text-switcher.on-state.right .text-switcher-children-wrapper {
  left: 0;
}

.text-switcher.up .text-switcher-children-wrapper {
  flex-direction: column-reverse;
  top: 0;
}

.text-switcher.down .text-switcher-children-wrapper {
  flex-direction: column;
  top: -100%;
}

.text-switcher.left .text-switcher-children-wrapper {
  flex-direction: row-reverse;
  top: 0;
  left: 0;
}

.text-switcher.right .text-switcher-children-wrapper {
  flex-direction: row;
  top: 0;
  left: -100%;
}

.text-switcher-children-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  transition: 0.2s ease-in-out;
}