* {
    padding: 0;
    margin: 0;
    user-select: none;
}

/* overriding classes */
.screen {
    height: 100vh !important;
    width: 100vw !important;
}

.animating-element {
    animation-play-state: running !important;
}

.light-orange-theme {
    background-color: var(--light-orange);
}

.light-orange-theme.text-color {
    color: white;
}

.light-orange-theme .dev-switcher-on-state-child {
    color: var(--dark-blue);
}