@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&display=swap');
/* 
    font-family: 'Montserrat', sans-serif; https://fonts.google.com/specimen/Montserrat
    font-family: 'Dosis', sans-serif; https://fonts.google.com/specimen/Dosis
*/

:root {
    --light-gray-bg: #f1f3f4;
    --light-blue-bg: #deeaf6;
    --very-dark-blue-bg: #2a3950;

    --light-purple: #c6ceff;
    --light-blue: #84b7fe;
    --blue: #258bd6;
    --dark-blue: #0f6bac;
    --pink: #ffa4fc;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.app {
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
    padding: 2rem 5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
    text-transform: uppercase;
}

.home {
    padding: 1rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.home:hover {
    border-color: var(--dark-blue);
}

.header-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header-navigation > h4 {
    cursor: pointer;
    margin-left: 3rem;
    padding: 1rem;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.header-navigation > h4:hover {
    border-color: var(--dark-blue);
}

.introduction-section {
    background-color: var(--light-blue-bg);
    position: relative;
    margin-top: 5rem;
    height: 30rem;
}

.greeting-card {
    position: absolute;
    top: -5rem;
    background-color: var(--blue);
    padding: 3rem;
    padding-left: 5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    animation: greeting-card-entry 0.5s ease-in;
}

.greeting-text {
    display: block;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    line-height: 4rem;
    margin-bottom: 2rem;
    cursor: default;
    white-space: nowrap;
}

.greeting-text-hovered-text {
    color: var(--pink);
    animation: greeting-text-color-change 0.3s ease-in-out both paused;
}

.greeting-text-hovered-text:hover ~ .small-greeting-text {
    animation-play-state: running;
}

.small-greeting-text {
    display: block;
    color: var(--pink);
    font-size: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    animation: small-greeting-text-typewriter 0.4s steps(7) both 0.5s paused;
}

.greeting-card > a {
    display: block;
    width: 11.5em;
    padding: 1em;
    background-color: var(--blue);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border: 2px solid white;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.greeting-card > a:hover {
    background-color: var(--dark-blue);
}

.greeting-card > a:hover .send-email-button-wrapper{
    margin-left: -2.5em;
}

.send-email-button-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    margin-left: 0;
}

.send-email-button-text {
    margin: 0 1em;
}

@keyframes greeting-card-entry {
    from {
        width: 0;
        padding-left: 0;
    }
    to {
        width: 38rem;
    }
}

@keyframes greeting-text-color-change {
    from {
        color: white;
    }
    to {
        color: var(--pink);
    }
}

@keyframes small-greeting-text-typewriter {
    from {
        width: 0;
    }
    to {
        width: 7em;
    }
}

.light-primary-color {
    background-color: white;
}

.dark-primary-color {
    background-color: var(--very-dark-blue-bg);
}

/* overriding classes */
.animating-element {
    animation-play-state: running !important;
}